.navbar >li{
    list-style: none ;
    padding: 12px 12px;
}
.navbar >li:hover{
    background-color: pink;
}
a{
    text-decoration: none !important;
    color: #141414;
}
a:hover{
    background-color: pink;
    color:  #141414;
}